.main {
    margin-left: 350px;
    padding-top: 100px;
    padding-right: calc((100vw - 1300px) / 2);
}

.todos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todos-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-header .sort {
    display: flex;
    align-items: center;
    gap: 5px;
}

.todos-header .sort p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.todo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
}

.todo-container:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.todos-list {
    margin-top: 20px;
}

.todo-details {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}